.pageLoading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    > div {
        width: 0;
        height: 0;
        background: black;
        border-radius: 10000px;
        transition: all 0.5s ease-in-out;
    }
    &.active {
        display: flex;
        visibility: visible;
        > div {
            width: 10000px;
            height: 10000px;
        }
    }
}